<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Incidencia</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img [src]="issuesImagePath + issue.image"></ion-img>
  <h2>Categoria</h2>
  <h3>{{ issue.categoryId }}</h3>
  <h2>Reportado por</h2>
  <h3>{{ issue.reporterId }}</h3>
  <h2>Fecha</h2>
  <h3>{{ issue.created_at }}</h3>
</ion-content>
