:root {
  scroll-behavior: smooth;
  /* Template colors */
  --color-dominant: hsl(29, 60%, 93%); /* %60 */
  --color-complementary: hsl(105, 24%, 77%); /* %30 */
  --color-accent: hsl(113, 6%, 50%); /* %10 */

  --color-dominant-dark: hsl(29, 60%, 83%); /* %60 */
  --color-complementary-dark: hsl(105, 24%, 67%); /* %30 */
  --color-accent-dark: hsl(113, 6%, 40%); /* %10 */
}

[x-cloak] { display: none !important; }

body {
  min-height: 100vh;
  background-color: var(--color-dominant);
}

/*--------------------------------------------------------------
# Background
--------------------------------------------------------------*/
.bg-dominant {
  background-color: var(--color-dominant);
}

.bg-complementary {
  background-color: var(--color-complementary);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: transparent;

}

/*--------------------------------------------------------------
# Text
--------------------------------------------------------------*/
.text-dominant {
  color: var(--color-dominant);
}

.text-complementary {
  color: var(--color-complementary);
}

.text-accent {
  color: var(--color-accent);
}

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/

.circle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 100%;
  font-size: 20px;
  border-color: transparent;
}

.circle-button.circle-button-sm {
  width: 30px;
  height: 30px;
  font-size: 17px;
}

.circle-button.circle-button-lg {
  width: 60px;
  height: 60px;
  font-size: 25px;
}

.action-button:disabled, .action-button.disabled {
  pointer-events: none;
  background-color: var(--color-accent-dark);
  opacity: 0.65;
}

video, .picture {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/

.modal-header-placeholder {
  display: inline-flex;
  height: 30px;
  width: 30px;
}

.modal-header-icon {
  align-items: center;
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
  display: inline-flex;
  height: 1rem;
  justify-content: center;
  padding: 0.5rem;
  width: 1rem;
}

.modal-header-icon:hover {
  background-color: var(--color-complementary);
}

.modal-header-icon i {
  font-size: 32px;
}

.animate__animated.animate__slideOutDown, .animate__animated.animate__slideInUp {
  --animate-duration: 0.4s;
}

.category > input:checked + .selected {
  transition: all 0.3s;
  background-color: var(--color-accent);
  color: #fff !important;
}

.issue-marker {
  width: 40px;
  height: 40px;
  border-radius: 50% 50% 50% 0;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
  background-color: var(--color-complementary);
}

.issue-marker::after {
  content: '';
  width: 30px;
  height: 30px;
  margin: 5px 0 0 5px;
  background: var(--color-accent);
  position: absolute;
  border-radius: 50%;
}

.issue-marker-wrapper i {
  position: absolute;
  font-size: 16px;
  left: 0;
  right: 0;
  margin: 17px;
  text-align: center;
  color: #fff;
}

/* Forms */

.form-input-container {
  background-color: var(--color-complementary);
  position: relative;
  padding: 10px;
  border-radius: 1rem;
  transition: all 0.3s ease 0s;
}

.form-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  outline: none;
  border: 0;
  background-color: var(--color-complementary);
}

.form-input::-webkit-input-placeholder {
  color: var(--bs-black);
  font-weight: 500;
}

.form-input:focus {
  box-shadow: none;
}

.form-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-input:active {
  background-color: var(--color-complementary);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  font: inherit;
  transition: background-color 600000s 0s, color 600000s 0s;
}

.form-input-icon {
  position: absolute;
  left: 15px;
  top: 24px;
  color: var(--bs-white);
}

.issue-info-image-wrapper {
  height: 230px;
  width: 100%;
}

.issue-info-image {
  height: 230px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: var(--bs-border-radius-xxl) !important;
  border-top-right-radius: var(--bs-border-radius-xxl) !important;
}

.issue-info-image.cover {
  background-size: cover;
}

.issue-info-user-image {
  height: 50px;
  width: 50px; 
}