<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reportar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img [src]="image"></ion-img>
  <h2>Tipo de incidencia</h2>
  <ion-radio-group>
    <ion-item *ngFor="let category of categories$ | async">
      <ion-radio
        (click)="selectedCategory = category.id"
        [value]="category.id"
        >{{ category.name }}</ion-radio
      >
    </ion-item>
  </ion-radio-group>
  <ion-button
    [disabled]="selectedCategory === 0"
    (click)="confirm()"
    expand="block"
    fill="clear"
    shape="round"
  >
    Click me
  </ion-button>
</ion-content>
