<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reportar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img [src]="image"></ion-img>
  <h2>Tipo de incidencia</h2>
  <ion-radio-group>
    <ion-radio (click)="category = 1" value="1">Dogs</ion-radio><br />
    <ion-radio (click)="category = 2" value="2">Cats</ion-radio><br />
    <ion-radio (click)="category = 3" value="3">Turtles</ion-radio><br />
    <ion-radio (click)="category = 4" value="4">Fish</ion-radio><br />
  </ion-radio-group>
  <ion-button
    [disabled]="category === 0"
    (click)="confirm()"
    expand="block"
    fill="clear"
    shape="round"
  >
    Click me
  </ion-button>
</ion-content>
